<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Journal title</th>
      <th></th>
      <th>Journal info</th>
    </tr>
  </thead>
  <tbody>
    <% journals.forEach(function(m) { %>
      <tr>
        <td><%= m.title %></td>
        <td><%= m.releaseYear %></td>
        <td><a href="/journals/<%= m._id %>">Click to see</a></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>