<%- include('../partials/header') %>

<h2><%= journal.title %></h2>

<div>
  <h3>Morning</h3>
  <p><%= journal.morningEntry %></p>
</div>

<div>
  <h3>Noon</h3>
  <p><%= journal.noonEntry %></p>
</div>

<div>
  <h3>Evening</h3>
  <p><%= journal.eveningEntry %></p>
</div>

<h3>Reviews</h3>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Review</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% if (journal.reviews.length === 0) { %>
      <tr>
        <td colspan="4">No reviews yet</td>
      </tr>
    <% } else { %>
      <% journal.reviews.forEach(function(review) { %>
        <tr>
          <td><img alt="avatar" src="<%= review.userAvatar %>" referrerpolicy="no-referrer"><%= review.userName %></td>
          <td><%= review.createdAt.toDateString() %></td>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
          <td><a href="/journals/<%= journal._id %>/edit">Edit</a></td>
          <td><a href="/journals/<%= journal._id %>/delete">Delete</a></td>
        </tr>
      <% }) %>
    <% } %>
  </tbody>
</table>

<%- include('../partials/footer') %>